@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.countdown h2, .countdown p {
  margin-bottom: 0;
}

.countdown h2 {
  line-height: 100%;
  margin: 0 auto;
}

.countdown p {
  margin: 0 auto;
}

.countdown {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* background-color: #4B0082; */
    background-color: #9cceff;
}

.countdown-content,
.countdown-content-final {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}

.container_descr h1, .countdown-content, .countdown-content-final {
    /* color: #d1a0fd; */
    color: #0984e3;
}

.container_descr {
    margin-bottom: 15px;
}
.container_descr h1 {
    font-size: 30px;
    font-weight: n;
}

.countdown-content-item {
    text-align: center;
}

.countdown-content h2,
.countdown-content-final h2 {
    font-size: 24px;
}

.countdown-content-final {
  display: none;
}
